.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background-color: orange;
  height: 56px;
  font-weight: bold;
}

a {
  background-color: orange;
}

a:hover {
  font-weight: normal;
}

.footer {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-right: 2%;
}

h2 {
  margin-left: 3%;
}
